.cabecalho{
    margin-top: 5%;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.nome{
    width: 400px;
    height: 50px;
}

.formCadastro{
    position: relative;
}
.child{
   position: absolute;
   margin-left: 40%;
}

.formCadastro p{
color: grey;

}