.cabecalho{
    margin-top: 5%;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.nome{
    width: 400px;
    height: 50px;
}

.mainframe{
 display: flex;
 flex-direction: column;

 justify-content: center;
 align-items: center
}


.formCadastro p{
color: grey;

}