.cabecalho{
    margin-top: 5%;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.nome{
    width: 400px;
    height: 50px;
}

.formCadastro{
    position: relative;
}
.child{
    width: 50px;
    height: 50px;
    
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.formCadastro p{
color: grey;

}