@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@700&family=PT+Sans+Narrow:wght@400;700&family=Train+One&display=swap');

main {
    /* background: black; */
    margin-top: 150px;
}

.inf1 {
    
    background-color: #185c74;
    color: white;
}

.gif {
    display: inline-flex;
}

.gif p{
    
    margin-left: 150px;
    margin-top: 150px;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    
}

.teamWorking{
    width: 900px ;
    height: 800px;
    float: right;
}

.inf2 p{
    width: 800px;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 300px;
    margin-left: 30px;
    display: inline-flex;
}

.inf3 p{
    display: inline-flex;
    margin-top: 100px;
    float: right;
    margin-top: -300px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    width: 800px;
    
}

.inf3 img{
    margin:100px;
    margin-top: 100px;
    
}

